# Config
/config.json

# Database
*.db

# Elm
elm-stuff/
bookie/static/dist/

# Python
*.egg-info
*.pyc
*.pyo
__pycache__
venv
/bookie/static/index.js
/bookie/static/dist/main.js
/bookie/static/dist/style.css
