<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>bookie</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/style.css') }}">

  <script src="{{ url_for('static', filename='dist/main.js') }}"></script>
</head>

<body>
  <script>
    app = Elm.Main.fullscreen();
  </script>
</body>

</html>
