* {
  padding: 0;
  margin:  0;
}

html, body {
  height: 100%;
  overflow: hidden;
}


body {
  background: #111;
  color: #ddd;
  width: 95%;
  height: 100%;
  margin:  0 auto;
  margin-top: 24px;
  margin-bottom: 24px;
}

#browser {
  height: 600px;
  overflow: auto;
  background: #222;
}

a {
  color: lightcyan;
}

ul {
  list-style: none;
}

li {
  display: flex;
  position: relative;
}

li div {
  padding: 0 2px 0 2px;
  border-style: solid;
  border-color: black;
}

.entry-header {
  background: #444;
  font-weight: 900;
  padding: 2px;
}

.entry-title {
  width: 25%;
  border-width: 1px 0 1px 1px;
}

.entry-url {
  width: 40%;
  border: 1px solid;
  border-color: black;
}

.entry-description {
  width: 35%;
  border-width: 1px 1px 1px 0;
}

.entry-selector {
  width: 10px;
  height: 10px;
  border: 0;

  position: absolute;
  top: 0;
  left: -10px;

  background: #ddd;
  opacity: 0.1;
}

.entry-selector:hover {
  opacity: 0.5;
}

#editor {
  position: relative;

  top: 10px;

  width: 95%;
  margin: 0 auto;

  padding: 0 2px 0 2px;
  border: solid 1px;
  border-color: black;

  display: flex;
}

#editor input {
  border: 0;
}

.editor-form {
  padding: 0 2px 0 2px;
}

.editor-form-title {
  width: 25%;
}

.editor-form-url {
  width: 40%;
}

.editor-form-description {
  width: 35%;
}

.editor-form-save {
  background: lightgreen;
}

.editor-form-discard {
  background: lightcoral;
}

.selected-row {
  background: rgba(50, 100, 150, 0.25);
}
